:root {
  --text: #EEE;
}

* {
  margin: 0;
  list-style: none;
}

.App {
  text-align: center;
  padding: 40px
}

ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #456;
  height: 100px;

}

.menu {
  text-transform: uppercase;
}
.active {
  text-decoration: underline;
}


li {
  color: var(--text);
}

.content {
  padding: 40px;
}

.title {
  padding: 20px 0 50px 0;
}

button {
  color: var(--text);
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  outline: none;
  font-size: 1em;
  background-color: #456;
  margin: 0 0 30px 0;
  text-transform: uppercase;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
